In [47]:
import numpy as np
import pandas as pd
from sklearn.ensemble import IsolationForest
import warnings
warnings.filterwarnings('ignore')

In [48]:
df = pd.read_excel('hackathon 2024 - Yapay Zeka.xlsx')
df

               TIME_STAMP           SERVER_NAME   DOWNLOAD   UPLOAD
0     2024-03-05 18:25:00  10.0.901.xx Server 1  11927.017  424.700
1     2024-03-05 18:20:00  10.0.901.xx Server 1  19703.467  525.575
2     2024-03-05 18:15:00  10.0.901.xx Server 1  26349.663  631.144
3     2024-03-05 18:10:00  10.0.901.xx Server 1  26068.494  623.673
4     2024-03-05 18:05:00  10.0.901.xx Server 1  25814.357  620.701
...                   ...                   ...        ...      ...
35424 2023-11-02 10:30:00  10.0.901.xx Server 1  14604.990  364.365
35425 2023-11-02 10:25:00  10.0.901.xx Server 1  14461.797  358.717
35426 2023-11-02 10:20:00  10.0.901.xx Server 1  14381.373  357.816
35427 2023-11-02 10:15:00  10.0.901.xx Server 1  14336.298  355.811
35428 2023-11-02 10:10:00  10.0.901.xx Server 1  14611.335  357.395

[35429 rows x 4 columns]

In [49]:
df.head()

           TIME_STAMP           SERVER_NAME   DOWNLOAD   UPLOAD
0 2024-03-05 18:25:00  10.0.901.xx Server 1  11927.017  424.700
1 2024-03-05 18:20:00  10.0.901.xx Server 1  19703.467  525.575
2 2024-03-05 18:15:00  10.0.901.xx Server 1  26349.663  631.144
3 2024-03-05 18:10:00  10.0.901.xx Server 1  26068.494  623.673
4 2024-03-05 18:05:00  10.0.901.xx Server 1  25814.357  620.701

In [50]:
model = IsolationForest(n_estimators=100,max_samples='auto',contamination=float(0.2),max_features=1.0)
model.fit(df[['TIME_STAMP']])

IsolationForest(contamination=0.2)

In [54]:
df['anomalies_time_stamp'] = model.decision_function(df[['TIME_STAMP']])
df['anomaly'] = model.predict(df[['TIME_STAMP']])
df.head(20)

,TIME_STAMP,SERVER_NAME,DOWNLOAD,UPLOAD,anomalies_time_stamp,anomaly
0,2024-03-05 18:25:00,10.0.901.xx Server 1,11927.017,424.700,-0.12682,-1
1,2024-03-05 18:20:00,10.0.901.xx Server 1,19703.467,525.575,-0.12682,-1
2,2024-03-05 18:15:00,10.0.901.xx Server 1,26349.663,631.144,-0.12682,-1
3,2024-03-05 18:10:00,10.0.901.xx Server 1,26068.494,623.673,-0.12682,-1
4,2024-03-05 18:05:00,10.0.901.xx Server 1,25814.357,620.701,-0.12682,-1
5,2024-03-05 18:00:00,10.0.901.xx Server 1,25566.226,618.968,-0.12682,-1
6,2024-03-05 17:55:00,10.0.901.xx Server 1,25483.363,612.865,-0.12682,-1
7,2024-03-05 17:50:00,10.0.901.xx Server 1,25424.171,613.670,-0.12682,-1
8,2024-03-05 17:45:00,10.0.901.xx Server 1,25128.195,608.531,-0.12682,-1
9,2024-03-05 17:40:00,10.0.901.xx Server 1,24856.787,609.905,-0.12682,-1
10,2024-03-05 17:35:00,10.0.901.xx Server 1,24660.756,600.669,-0.12682,-1
11,2024-03-05 17:30:00,10.0.901.xx Server 1,24263.762,589.236,-0.12682,-1
12,2024-03-05 17:25:00,10.0.901.xx Server 1,24127.954,581.875,-0.12682,-1
13,2024-03-05 17:20:00,10.0.901.xx Server 1,24016.981,578.902,-0.12682,-1
14,2024-03-05 17:15:00,10.0.901.xx Server 1,24130.222,583.403,-0.12682,-1
15,2024-03-05 17:10:00,10.0.901.xx Server 1,NaN,581.977,-0.12682,-1
16,2024-03-05 17:05:00,10.0.901.xx Server 1,23829.724,574.672,-0.12682,-1
17,2024-03-05 17:00:00,10.0.901.xx Server 1,23243.142,565.183,-0.12682,-1
18,2024-03-05 16:55:00,10.0.901.xx Server 1,22856.921,554.941,-0.12682,-1
19,2024-03-05 16:50:00,10.0.901.xx Server 1,22672.022,549.810,-0.12682,-1